

body
{
font-family:cursive;

}
.navbar
{
	background-color: white;

}
.navbar .nav-item {
	width: 180px;
	text-align: center;
}

.navbar .nav-item .nav-link{
	color: #c32f2f;
	
}

.navbar .nav-item .nav-link:hover{
		background-color: #c32f2f;

	color:white;
	
}
.navbar .navbar-nav .nav-item {
	margin: 0 30px;
	
}
.navbar .navbar-nav .nav-item .dropdown-menu a {
	background-color: white;
	color: #c32f2f;
	padding: 7px;
	
}
.navbar .navbar-nav .nav-item .dropdown-menu :hover {
	background-color: #c32f2f;
	color: white;
	
}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 90%;
}

.imgs
{
    width:50%;
	height:400px;

	margin:0px 25%;
	
	
	 
} 
#connect{

    margin: 80px auto;
    text-align: center;
    font-size: 30px;
}
.circle{
    border-radius: 45%;
    background-color: white;
    width: 400px;
    height: 50px;
    text-align: center;
    color: #c32f2f;
  padding-top: 11px;
    
  margin-bottom: 100px;

    
}  


footer{
    background-color: #c32f2f;
}

.alert{
     
    width: 450px;
    height: 100px;
    margin:0px auto;
    text-align: center;
    z-index:999;
    opacity:85%
  
}
.jumbotron {
   background-color: #c32f2f;
}